
<footer class="footer">


    <div class="section section-basic">

        <div class="container">
            <div class="content">


                <div class="team">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">


                                <div class="col-md-4">
                                    <div class="logofooter">
                                        <hr />
                                    </div>



                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="about.html">
                                                    About Us
                                                </a>
                                            </li>
                                            <li>
                                                <a href="contact.html">
                                                    Contact us
                                                </a>
                                            </li>
                                            <li>
                                                <a href="sitemap.html">
                                                    Site Map
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>


                                </div>


                                <div class="col-md-4">
                                    <div class="logofooter">
                                        <hr />
                                    </div>



                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="faq.html">
                                                    FAQ
                                                </a>
                                            </li>
                                            <li>
                                                <a href="privacy.html">
                                                    Privacy & Policy
                                                </a>
                                            </li>
                                            <li>
                                                <a href="terms.html">
                                                    Terms & Conditions
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>


                                </div>

                                <div class="col-md-4">
                                    <div class="logofooter">
                                        <div class="logo">
                                            <img src="/themes/custome/imcc/img/logofooter.png" alt="IMCC Logo">
                                        </div>
                                    </div>

                                    <div class="space-50"></div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-4 text-center">
                                                    <a href="#" class="btn-facebook">
                                                        <i class="fa fa-facebook-square"></i>
                                                    </a>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <a href="#" class="btn-twitter">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <a href="#" class="btn-google-plus">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="copyright">
                                        &copy; 2011 - 2017 IMCC. All Rights Reserved
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>