<div class="bg-center-center">
    <!-- <img src="assets/img/1.jpg" alt="background-image"/> -->
    <div class="el left-img" data-from="left:-1220px;top:0px;" data-to="left:0px;top:0px;" data-delay="100">
        <img src="{{ fields['field_image'].content }}">
    </div>
    <div class="el right-img" data-from="right:-1150px;" data-to="right:0px;" data-delay="100">
        <img src="{{ fields['field_image_'].content }}">
    </div>
    <div class="el tit" data-from="opacity:0;" data-to="opacity:1;" data-delay="250">
        <div>
            {{ fields['field_sub_title'].content }}<br />
            <span style="font-size: 14px; color: #d2ab67;">Lease now</span>
        </div>
    </div>
</div>
